body{
    background: #d2d2c1 url('img/fundo.png'); /**Nesse caso não se aplica o no-repeat;**/
    font: 16px Arial, Helvetica, sans-serif;
    
}

p{
    text-align: left;
}

#principal{
    width: 900px;
  
    
}

#menu{
    background: #c5c5b2;
    padding: 18px;
    
}

#conteudo{
    background: #e8e8d9;
    padding:  10px;
    
}

h1{
    font-size: 1.2em; /*em está proporcional ao body*/
    color: #828271;
}

.img_campanha{
    border: 12px solid #c3c3ae;
}

.contato_cliente{
    width: 400px;
    
}

.recado_cliente{
    width: 400px;
    
}

a{
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}


a:hover{
   color: #475e88; /*stule para mudar quando o cursor passar sobre o link*/
}

#rodape{
    margin-top: 5px;
    text-align: center;
    color: #4b566a;
    font-weight: bold;
}